html {
  background-color: black;
}

//#theDiv > img
//{
  //  display:block;
  //  margin:0 auto;
//}



.complete {
  position: absolute;
  transform: scale(0.9);
  left:-10px;
  top:-10px;
  //width:1000px;
  //height:1000px;
  //z-index:1;
}

.theBackground {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1000px;
  height: 1000px;
  display:block;
  margin:0 auto;
  //z-index:1;
}

.theTamarin {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1000px;
  height: 1000px;
  //z-index:7;
}

.wheelContainerNear {
  position: absolute;
  top: 554;
  left: -54;
  width: 500px;
  height: 500px;
  background-color: none;
  opacity: 1;
  //display:inline-block;
  //margin:10px 20px 0 0;
}

.wheelContainerFar {
  position: absolute;
  top: 554;
  left: -54;
  width: 500px;
  height: 500px;
  background-color: none;
  opacity: 1;
  //display:inline-block;
  //margin:10px 20px 0 0;
}

.theChassie {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1000px;
  height: 1000px;
  //background-color:none;
  opacity: 1;
}

.theLock {
  //position:absolute;
  //width:1000px;
  //height:500px;
}

.theCar {
  position: absolute;
  left: 0;
  top: 0;
  width: 1000px;
  height: 1000px;
  opacity: 1;
  //background-color:red;
  //z-index:3;
}

.theSeesaw {
  position: absolute;
  left: 0;
  top: 0;
  width: 1000px;
  height: 1000px;
  opacity: 1;
  //background-color:purple;
  //z-index:2;
}

.tree2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1000px;
  height: 1000px;
  opacity: 1;
  //background-color:purple;
  z-index: 7;
}

.part_top {
  position: absolute;
  left:-20px;
  top:-20px;
  //width:1000px;
  //height:1000px;
  opacity: 1;
  display:block;
  margin:0 auto;
  //background-color:purple;
  z-index: 8;
}

//
